{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
	{% include 'include/css.html' %}
    <title>Register</title>
  </head>
  <body>
	<main>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto my-5">
          <div class="card card-signin flex-row my-5">
            <div class="card-img-left d-none d-md-flex">
              <img src="{% static 'images/register.png' %}">
            </div>
            <div class="card-body mx-5 text-center ">
              <img src="{% static 'images/logo-register.png' %}" class="mb-3">
              <!-- <h5 class="card-title text-center">REGISTER</h5> -->
              <form method="POST" autocomplete="off" class="form-signin justify-content-center">
                {% csrf_token %}
                <div class="form-label-group">
                  {{form.username}}
{#                   <input type="text" id="{{form.username.id_for_label}}" name="{{form.username.name}}" class="form-control" placeholder="Username" required autofocus> #}
                  
                </div>
  
                <div class="form-label-group">
                  {{form.email}}
                  {# <input type="email" id="inputEmail" name="{{form.email.name}}" class="form-control" placeholder="Email address" required> #}
                 
                </div>
                
                <hr>
  
                <div class="form-label-group">
                  {{form.password1}}
                  {# <input type="password" id="{{form.password1.id_for_label}}" name="{{form.password1.name}}" class="form-control" placeholder="Password" required> #}
                  

                </div>
                
                <div class="form-label-group">
                  {{form.password2}}
                  {# <input type="password" id="{{form.password2.id_for_label}}" name="{{form.password2.name}}" class="form-control" placeholder="Confirm Password" required> #}
                  {% for error in form %}
                    <p>{{error.errors}}</p>
                  {% endfor %}
                </div>
  
                <button class="btn btn-register-login btn-block text-uppercase" type="submit">Register</button>
                <a class=" d-block text-center mt-2 " href="{% url "akun:login" %}">Sign In</a>
               
                
              </form>
            </div>
          </div>
        </div>
      </div>
	</div>
</main>
{% include 'include/js.html' %}
  </body>
  





<!-- Modal Checkout -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  
  
</html>